<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Departamentos</title>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Modal de comentario -->
    <div id="commentModal" class="modal">
        <div class="modal-content">
            <h2>Agregar comentario</h2>
            <textarea id="commentText" placeholder="Escribe tu comentario aquí..."></textarea>
            <div class="modal-buttons">
                <button class="button-favorite" onclick="submitComment()">Comentar</button>
                <button class="button-comment" onclick="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>

    <h1>Lista de Departamentos</h1>
    <span class="counter-p">Total de departamentos: {{ departments|length }}</span></br>
    <span class="counter-p">Rechazados de Nico / Ampi: {{ departments | selectattr("rejected_n", "equalto", True) | list | length }} / {{ departments | selectattr("rejected_a", "equalto", True) | list | length }}</span></br>
    <span class="counter-p">Favoritos de Nico / Ampi: {{ departments | selectattr("favorito_n", "equalto", True) | list | length }} / {{ departments | selectattr("favorito_a", "equalto", True) | list | length }}</span></br>
    <span class="counter-p">Sin ninguna acción: 
        {{ departments 
            | rejectattr("rejected_n", "equalto", True) 
            | rejectattr("rejected_a", "equalto", True) 
            | rejectattr("favorito_n", "equalto", True) 
            | rejectattr("favorito_a", "equalto", True) 
            | list | length 
        }}
    </span>
    <ul id="department-list">
        {% for department in departments %}
        <li class="{% if department.favorito_n and department.favorito_a %} light-green {% endif %}">
            <a href="https://scarpdepto.vercel.app/departments/{{ department.id }}" class="department-link">
                <strong class="department-title 
                    {% if (department.rejected_n or department.rejected_a) and (department.favorito_n or department.favorito_a) %}
                        orange
                    {% elif not (department.rejected_n or department.rejected_a) and (department.favorito_n or department.favorito_a) %}
                        green
                    {% elif (department.rejected_n or department.rejected_a) and not (department.favorito_n or department.favorito_a) %}
                        red
                    {% endif %}
                    ">
                {{ department.codigo }} - {{ department.title }}
            </strong>
            </a>
            <!-- <a href="{{ department.link }}" class="department-link" target="_blank">Ver</a> -->

            <div class="department-info">
                <span class="price">Precio: {{ department.precio }}</span><br>
                <span class="creation-date">Creado el: {{ department.creacion }}</span>
            </div>

            {% if department.comentario_n %}
            <div class="comment-container">
                <span class="comment-format rounded-box-nico">N: {{ department.comentario_n }}</span>
            </div>
            {% endif %}
            {% if department.comentario_a %}
            <div class="comment-container">
                <span class="comment-format rounded-box-ampi">A: {{ department.comentario_a }}</span>
            </div>
            {% endif %}

            <div class="button-container">
                {% if (person == 'nico' and not department.rejected_n) or (person == 'ampi' and not department.rejected_a) %}
                <button class="button-reject" onclick="rejectDepartment('{{ department.id }}')">👎</button>
                {% endif %}
            
                {% if (person == 'nico' and not department.favorito_n) or (person == 'ampi' and not department.favorito_a) %}
                <button class="button-favorite" onclick="favoriteDepartment('{{ department.id }}')">👍</button>
                {% endif %}

                <button class="button-comment" onclick="commentDepartment('{{ department.id }}')">💬</button>
                <button onclick="window.location='{{ department.link }}'" target="_blank" class="button-open">👁️</button>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
