<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Detalles del Departamento</title>
</head>
<body>
    <div id="commentModal" class="modal">
        <div class="modal-content">
            <h2>Agregar comentario</h2>
            <textarea id="commentText" placeholder="Escribe tu comentario aquí..."></textarea>
            <div class="modal-buttons">
                <button class="button-favorite" onclick="submitComment()">Comentar</button>
                <button class="button-comment" onclick="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>

    <div>
        <h1 class="department-title 
        {% if (department.rejected_n or department.rejected_a) and (department.favorito_n or department.favorito_a) %}
            orange
        {% elif not (department.rejected_n or department.rejected_a) and (department.favorito_n or department.favorito_a) %}
            green
        {% elif (department.rejected_n or department.rejected_a) and not (department.favorito_n or department.favorito_a) %}
            red
        {% endif %}
        ">
        {{ department.title }}
    </h1>
    <p><strong>Código:</strong> {{ department.codigo }}</p>
    <p><strong>Dirección:</strong> {{ department.direccion }}</p>
    <p><strong>Precio:</strong> {{ department.precio }}</p>
    <p><strong>Creado el:</strong> {{ department.creacion }}</p>

    {% if department.comentario_n %}
    <div class="comment-container">
        <span class="comment-format rounded-box-nico">N: {{ department.comentario_n }}</span>
    </div>
    {% endif %}
    {% if department.comentario_a %}
    <div class="comment-container">
        <span class="comment-format rounded-box-ampi">A: {{ department.comentario_a }}</span>
    </div>
    {% endif %}

    </br>
    <div class="button-container">
        <button onclick="backToDepartments('{{ department.id }}')" class="button-back">🔙</button>
        <button onclick="window.location='{{ department.link }}'" target="_blank" class="button-open">👁️</button>

        {% if (person == 'nico' and not department.rejected_n) or (person == 'ampi' and not department.rejected_a) %}
        <button class="button-reject" onclick="rejectDepartment('{{ department.id }}')">👎</button>
        {% endif %}
    
        {% if (person == 'nico' and not department.favorito_n) or (person == 'ampi' and not department.favorito_a) %}
        <button class="button-favorite" onclick="favoriteDepartment('{{ department.id }}')">👍</button>
        {% endif %}

        <button class="button-comment" onclick="commentDepartment('{{ department.id }}')">💬</button>
        <button class="button-share" onclick="shareDepartment('{{ department.id }}')">📤</button>
        <button onclick="removeDepartment('{{ department.id }}')" class="button-remove">❌</button>
    </div>
    </div>
</body>
</html>
