<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Departamentos</title>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Modal de comentario -->
    <div id="commentModal" class="modal">
        <div class="modal-content">
            <h2>Agregar comentario</h2>
            <textarea id="commentText" placeholder="Escribe tu comentario aquí..."></textarea>
            <div class="modal-buttons">
                <button class="button-favorite" onclick="submitComment()">Comentar</button>
                <button class="button-comment" onclick="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>

    <h1>Lista de Departamentos</h1>
    <span class="counter-p">Total de departamentos: {{ departments|length }}</span></br>
   
    <ul id="department-list">
        {% for search_department in departments %}
            {% set all_favorite = search_department.reactions | selectattr('reaction', 'equalto', 'favorite') | list | length == search_department.reactions | length %}
            <li class="{% if all_favorite %} light-green {% endif %}">
                <a href="{{ base_url }}/departments/{{ search_department.search_department_id }}" class="department-link">
                    <strong class="department-title
                        {% if search_department.reactions | selectattr('reaction', 'equalto', 'favorite') | list | length == search_department.reactions | length %}
                            green
                        {% elif search_department.reactions | selectattr('reaction', 'equalto', 'reject') | list | length == search_department.reactions | length %}
                            red
                        {% elif search_department.reactions | selectattr('reaction', 'equalto', 'favorite') | list | length > 0 and
                        search_department.reactions | selectattr('reaction', 'equalto', 'reject') | list | length > 0 %}
                            orange
                        {% endif %}">
                        {{ search_department.department.title }}
                    </strong>
                </a>

                <div class="department-info">
                    <span class="price">Precio: {{ search_department.department.price }}</span><br>
                    <span class="creation-date">Creado el: {{ search_department.department.create_date }}</span>
                </div>

                {% set last_comment = search_department.participant_comments
                    | sort(attribute='create_date', reverse=True)
                    | first %}
                
                {% if last_comment %}
                    <div class="comment-list">
                        <div class="comment-container rounded-box-nico">
                            <span class="comment-format">{{ last_comment.participant.user.given_name }}: {{ last_comment.comment }}</span>
                            <span class="comment-date">{{ last_comment.create_date }}</span>
                        </div>
                    </div>
                {% endif %}

                <div class="button-container">
                    {% set user_reactions = search_department.reactions 
                        | selectattr('participant_id', 'equalto', user_id)
                        | rejectattr('reaction', 'equalto', none)
                        | list %}
            
                    {% set has_favorite = user_reactions
                        | selectattr('reaction', 'equalto', 'favorite') 
                        | list
                        | length > 0 %}
                    
                    {% set has_rejected = user_reactions
                        | selectattr('reaction', 'equalto', 'reject')
                        | list
                        | length > 0 %}
                    
                    {% if user_reactions | length == 0 or has_favorite %}
                    <button class="button-reject" onclick="rejectDepartment('{{ search_department.search_department_id }}')">👎</button>
                    {% endif %}
            
                    {% if user_reactions | length == 0 or has_rejected %}
                    <button class="button-favorite" onclick="favoriteDepartment('{{ search_department.search_department_id }}')">👍</button>
                    {% endif %}

                    <button class="button-comment" onclick="commentDepartment('{{ search_department.search_department_id }}')">💬</button>
                    <button onclick="window.location='{{ search_department.department.link }}'" target="_blank" class="button-open">👁️</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
