<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Detalles del Departamento</title>
</head>
<body>
    <div id="commentModal" class="modal">
        <div class="modal-content">
            <h2>Agregar comentario</h2>
            <textarea id="commentText" placeholder="Escribe tu comentario aquí..."></textarea>
            <div class="modal-buttons">
                <button class="button-favorite" onclick="submitComment()">Comentar</button>
                <button class="button-comment" onclick="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>

    <div>
        <h1 class="department-title
        {% if search_department.reactions | selectattr('reaction', 'equalto', 'favorite') | list | length == search_department.reactions | length %}
            green
        {% elif search_department.reactions | selectattr('reaction', 'equalto', 'reject') | list | length == search_department.reactions | length %}
            red
        {% elif search_department.reactions | selectattr('reaction', 'equalto', 'favorite') | list | length > 0 and
          search_department.reactions | selectattr('reaction', 'equalto', 'reject') | list | length > 0 %}
            orange
        {% endif %}
        ">
            
        {{ search_department.department.title }}
        </h1>
        <p><strong>Dirección:</strong> {{ search_department.department.address }}</p>
        <p><strong>Precio:</strong> {{ search_department.department.price }}</p>
        <p><strong>Creado el:</strong> {{ search_department.department.create_date }}</p>

        </br>
        <div class="button-container">
            <button onclick="goToDepartments('{{ search_department.search_id }}')" class="button-back">🔙</button>
            <button onclick="window.location='{{ search_department.department.link }}'" target="_blank" class="button-open">👁️</button>

            {% set user_reactions = search_department.reactions 
                | selectattr('participant_id', 'equalto', user_id)
                | rejectattr('reaction', 'equalto', none)
                | list %}
            
            {% set has_favorite = user_reactions
                | selectattr('reaction', 'equalto', 'favorite') 
                | list
                | length > 0 %}
            
            {% set has_rejected = user_reactions
                | selectattr('reaction', 'equalto', 'reject')
                | list
                | length > 0 %}
            
            {% if user_reactions | length == 0 or has_favorite %}
            <button class="button-reject" onclick="rejectDepartment('{{ search_department.search_department_id }}')">👎</button>
            {% endif %}
            
            {% if user_reactions | length == 0 or has_rejected %}
            <button class="button-favorite" onclick="favoriteDepartment('{{ search_department.search_department_id }}')">👍</button>
            {% endif %}

            <button class="button-comment" onclick="commentDepartment('{{ search_department.search_department_id }}')">💬</button>
            <button class="button-share" onclick="shareDepartment('{{ search_department.search_department_id }}')">📤</button>
            <button onclick="removeDepartment('{{ search_department.search_department_id }}', '{{search_department.search_id}}')" class="button-remove">❌</button>
        </div>

        <ul id="comment-list">
            {% for comment in search_department.participant_comments %}
            <li>
                <div class="comment-container rounded-box-nico">
                    <span class="comment-format ">{{ comment.participant.user.given_name }}: {{ comment.comment }}</span>
                    <span class="comment-date">{{ comment.create_date }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
